{% extends "index.html" %}
    
  {% block heading %}
      View All Games
  {% endblock %}

    {% block body %}
<style>
    div {
        background-color: #a98ac2;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        width: 800px;
        padding: 0 1em .5em;
        border: 3px solid black;
            }
    img {
        border: 3px solid black;
        width: 400;
        height: 200px
        }
</style>

            <ul>
                <div>
                    {% for game in games %}
                    <li>
                        <h3>{{game[0]}}</h3>
                        <img src="static/images/{{game[1]}}" alt="">
                        <p><strong>System:</strong> {{game[2]}}
                            <br>
                            <strong>Year Released:</strong> {{game[3]}}
                            <br>
                        {{game[4]}}</p>
                    </li>
                    {% endfor %}
                </div>
            </ul>




  {% endblock %}